@import url('css/reset.css');


hr {
    border: 2px solid rgb(174, 174, 174);
}

.container-01 {
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(2, 1fr);
    grid-template-rows: 50px 100px 200px;
}

.container-02 {
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(2, 1fr);
    grid-template-rows: 50px 100px 200px;
}

.container-03 {
    border: 2px solid;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.container-04 {
    border: 2px solid;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.container-05 {
    border: 2px solid;
    display: grid;

    grid-template-columns: [primeira-linha-col] 1fr [segunda-linha-col] 1fr [terceira-linha-col] 1fr [quarta-linha-col];
    grid-template-rows: [linha-inicio] 100px [linha-meio] 100px [linha-final] 100px;
}

.item-a {
    text-align: center;
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
}

.item-b {
    text-align: center;
    background-color: deepskyblue;

    /*grid-column-start: 1;
    grid-column-end: span 3;*/

    grid-column: 1 / span 3;

    /*grid-row-start: 2;
    grid-row-end: span 2;*/

    grid-row: 2 / span 2;
}

.item {
    text-align: center;
    background-color: deeppink;
}

.selected {
    background-color: aqua;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.selected-1 {
    background-color: aqua;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.selected-2 {
    background-color: aqua;
    grid-column: segunda-linha-col / terceira-linha-col;
    grid-row: linha-meio / linha-final;
}