@import url('css/reset.css');

.container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;

    display: grid;
    /* display grid faz com que o container se comporte como uma grade, ou seja, os elementos dentro dele serão organizados em linhas e colunas*/
}

.container-2 {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;

    width: 100px;
    display: inline-grid;
    /*inline-grid faz com que o container se comporte como um elemento inline, ou seja, ele ficará na mesma linha que outros elementos inline ao seu redor*/
}

.item {
    background-color: palegreen;
}

p {
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}