@import url('css/reset.css');

.container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;

    display: grid;

}

.container-2 {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;

    width: 100px;
    display: inline-grid;

}

.item {
    background-color: palegreen;
}

p {
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}