@import url('css/reset.css');

body {
    background-color: rgb(22, 20, 39);
}


h1 {
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    font-weight: regular;
    color: white;
    letter-spacing: 1px;
}

p {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid implicitas são as que nós configuramos através das propriedades grid-template-columns e grid-template-rows*/
/*
    grid-auto-rows: 200px;
    /* grid explicitas são as que o navegador cria automaticamente quando adicionamos mais itens do que o definido nas propriedades grid-template-columns e grid-template-rows */

    grid-auto-flow: column;
    grid-auto-columns: 100px;
    /* grid-auto-flow e grid-auto-columns são propriedades que controlam o comportamento do grid quando novos itens são adicionados */

}


.item {
    border: 1px solid black;
}

.item-01 {
    background: palevioletred;
}

.item-02 {
    background: cornflowerblue;
}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: orange;
}

.item-05 {
    background: cadetblue;
}

.item-06 {
    background: aqua;
}

.item-07 {
    background: tomato;
}

hr {
    border: 2px solid rgb(174, 174, 174);
}

b {
    color: orange;
}