@import url('css/reset.css');

body {
    background-color: rgba(163, 156, 148, 0.561);
    display: grid;
    border: 3px solid;
    height: 80vh;
    grid-template: repeat(3, auto) / repeat(3, auto);


    gap: 15px;
    place-items: center;
}

.item-01 {
    background: palegoldenrod;
}

.item-02 {
    background: paleturquoise;

}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: palevioletred;
}

.item-05 {
    background: lightseagreen;
    justify-self: stretch;
    align-self: stretch;
}

.item-06 {
    background: mediumpurple;
}
