@import url('css/reset.css');

body {
    background-color: rgba(163, 156, 148, 0.561);
    display: grid;
    border: 3px solid;
    grid-template: repeat(3, 200px) / repeat(3, 1fr); 
    
    /*row-gap: 10px;
    column-gap: 20px;*/

    gap: 15px;
    place-items: center; /*há 4 valores de place-items, center, end, stretch e start. Eles funcionam da mesma forma que o align-items e justify-items*/
}

        
.item-01 {
    background: palegoldenrod;
}

.item-02 {
    background: paleturquoise;

}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: palevioletred;
}

.item-05 {
    background: lightseagreen;
}

.item-06 {
    background: purple;
}

.item-07 {
    background: lightgreen;
}

.item-08 {
    background: wheat;
}

.item-09 {
    background: lightskyblue;
}