@import url('css/reset.css');

body {
    background-color: rgb(22, 20, 39);
}


h1 {
    font-family: 'open sans', sans-serif;
    font-size: 18px;
    font-weight: regular;
    color: white;
    letter-spacing: 1px;
}

p {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    /*pode ser usada também com o repeat*/



    /*grid-auto-rows: minmax(100px, auto); essa função também pode ser usada em outros grids */
    
}


.item {
    border: 1px solid black;
}

.item-01 {
    background: palevioletred;
}

.item-02 {
    background: cornflowerblue;
}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: orange;
}

.item-05 {
    background: cadetblue;
}

.item-06 {
    background: aqua;
}

.item-07 {
    background: tomato;
}

hr {
    border: 2px solid rgb(174, 174, 174);
}

b {
    color: orange;
}